.pokecard {
    width: 100%;
    max-width: 350px;
    border-radius: 0.7em;
    border: 0.7em solid #ccc;
    cursor: pointer;
    transition: transform 150ms ease;
    
}

.pokecard:hover {
    transform: scale(1.03);
}

.pokecard__header {
    background-color: #999;
    aspect-ratio: 2.2;
    position: relative;
    
}

.pokecard__image {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;
}

.pokecard__body {
    padding: 3.6em 1em 2em;
}

.pokecard__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
}

.pokecard__types{
    display: flex;
    justify-content: center;
    gap: 0.7em;
    margin-bottom: 1em;  
}

.pokecard__typename {
    text-transform: capitalize;
}

.pokecard__typename:nth-child(2)::before {
    content: '/';
    padding-right: 0.7em;
}

.pokecard__hr {
    margin-bottom: 1em;
    border: 1px solid #ccc4;
}

.pokecard__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.5em 0.2em;
}

.pokecard__stat {
    display: grid;
    gap: 0.5em;
    justify-items: center;
}

.pokecard__stat__name {
    font-size: 0.7em;
    font-weight: 300;
    text-transform: uppercase;
}

.pokecard__stat__value {
    font-weight: 500;
    font-size: 1rem;
}

.fire-gradient {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.grass-gradient {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.water-gradient {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.normal-gradient{
    background: linear-gradient(181.5#735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.bug-gradient {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.poison-gradient {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.electric-gradient {
    background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
}

.ground-gradient {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.fairy-gradient {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);

}

.fire-border {
    border-color: #E35825;
}

.fire-color {
    color: #E35825;
}

.grass-border {
    border-color: #ABDAC6;
}

.grass-color {
    color: #ABDAC6;
}

.water-border {
    border-color: #1479FB;
}

.water-color {
    color:#1479FB;
}

.normal-border {
    border-color: #735259;
}

.normal-color {
    color: #956c75;
}

.bug-border {
    border-color: #62DB60;
}

.bug-color {
    color:#62DB60;
}

.poison-border {
    border-color: #5B3184;
}

.poison-color {
    color: #5B3184;
}

.electric-border {
    border-color: #FCD676;
}

.electric-color {
    color: #FCD676;
}

.ground-border {
    border-color: #654008;
}

.ground-color {
    color:#654008;
}

.fairy-border {
    border-color: #C23867;
}

.fairy-color {
    color: #C23867;
}

